@model IEnumerable<SharePointAddIn1Web.Models.CarModel>
@{
    ViewBag.Title = "CarList";
}

<h2>Car List</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Price</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>

        @foreach (SharePointAddIn1Web.Models.CarModel item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Title</td>
                <td>@item.Brand</td>
                <td>@item.Seria</td>
                <td>@item.Price</td>
                <td>
                    <button type="submit" class="btn" id="@item.ID">Edit</button>
                </td>
            </tr>
        }

    </tbody>
</table>

<a href="/Cars/UpdateCar" class="Button">Add a new car</a>
@*<a href="/UpdateCars/Cars" class="Button">Dodaj nowy sam.</a>*@
